@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --mainColor: rgba(67, 105, 178);
  --mainColorLight: rgb(85, 130, 214);
  --mainColorDark: rgb(64, 91, 143);
  --body-title-font: 'Gill Sans', 'Gill Sans MT', calibri, 'Trebuchet MS', sans-serif;
  --control-font: 'Lato', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--body-title-font);
  color: white;
}

body {
  background-color: var(--mainColor);
}

nav {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav button {
  background-color: var(--mainColor);
  border: none;
}

nav .left {
  width: 50px;
  display: flex;
  justify-content: start;
}

nav .iconsContainer {
  display: flex;
  column-gap: 10px;
  width: 50px;
}

.topItem {
  background-color: var(--mainColorLight);
  display: flex;
  width: 100%;
}

.topItem .flagImageContainer {
  width: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.topItem .flagImageContainer img {
  width: 100px;
}

.topItem .flagImage {
  width: 100px;
  position: relative;
}

.topItem .flagImage::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -146px;
  height: 150px;
  width: 3px;
  background-color: var(--mainColorDark);
}

.topItem .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topItem .details h2 {
  font-family: var(--control-font);
  font-weight: 800;
  font-size: 22px;
}

.topItem .details h4 {
  font-weight: 500;
  opacity: 0.7;
}

.countryItemsHeader {
  padding: 5px 10px;
  background-color: var(--mainColorDark);
  font-family: var(--control-font);
  font-size: 12px;
  font-weight: 800;
}

.countriesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.countryItem {
  padding: 10px;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: none;
  background-color: var(--mainColor);
}

.countryItem:nth-child(4n + 2) {
  background-color: rgb(64, 98, 161);
}

.countryItem:nth-child(4n + 3) {
  background-color: rgb(64, 98, 161);
}

.countryItem .imageContainer {
  position: absolute;
  width: 80px;
  bottom: 40px;
  filter: brightness(0.7) grayscale(0.5);
}

.countryItem .imageContainer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -90px;
  height: 100px;
  width: 3px;
  background-color: white;
  z-index: 4;
}

.countryItem .imageContainer img {
  position: relative;
  width: 80px;
  height: 50px;
  z-index: 5;
  object-fit: cover;
}

.countryItem .details {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  text-align: right;
}

.countryItem .details h2 {
  font-family: var(--control-font);
  font-weight: 800;
  font-size: 22px;
}

.countryItem .details h4 {
  font-weight: 400;
  opacity: 0.7;
}

.countryItem .visit {
  align-self: end;
}

.singleCountriesContainer {
  width: 100%;
}

.SingleCountryItem {
  width: calc(100%);
  padding: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: var(--mainColor);
}

.SingleCountryItem:nth-child(2n + 1) {
  background-color: var(--mainColorLight);
}

.SingleCountryItem .right {
  display: flex;
  column-gap: 30px;
}

@media screen and (max-width: 370px) {
  .countryItem .imageContainer {
    width: 60px;
  }

  .countryItem .imageContainer img {
    width: 60px;
    height: 30px;
  }
}
